body{
    
    font-family: Arial, sans-serif;
    
    background-image: url(https://t3.ftcdn.net/jpg/15/23/83/12/360_F_1523831259_vkfp21J2r6cOWDDVU9fER5c6q32aa9Fq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0;
}
a{
    display: flex;
    gap: 1.5rem; 
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: gray;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}


pre {
    font-family: inherit; 
    
    white-space: pre-wrap;  
    word-wrap: break-word;
    background: gray; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    padding: 2rem 2.5rem; 
    max-width: 720px;     
    width: 100%;          
}
